
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background: #121212;
}

/* Navbar Styling */

#active {
  color: #FFDD2D;
}
.navbar-container {
  background-color: #191919;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 70px;
}

.navbar-options ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-options ul li {
  list-style: none;
}
.navbar-options ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 13px;
}

.navbar-btn-first {
  padding: 15px 44px;
  border: 0.3px solid #ffdd2d;
  background: transparent;
  color: #fff;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
}

.navbar-btn-first:hover {
  background-color: #ffdd2d;
  /* border: transparent; */
  color: #000;
}
.navbar-btn-second:hover {
  border: 0.3px solid #ffdd2d;
  background: transparent;
  color: #fff;
}

.navbar-btn-second {
  padding: 15px 30px;
  background: #ffdd2d;
  border: 0.3px solid #ffdd2d;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 100px;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hamburger {
  display: none;
}

.hamberger-close {
  display: none;
}
@media (max-width: 430px) {
  .navbar-right {
    display: none;
  }

  .navbar-container {
    position: relative;
  }

  .navigation-bar {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-options {
    position: absolute;
    background-color: #191919;
    top: 55px;
    left: 0;
    right: 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.7s ease;
    z-index: 1;
  }
  .navbar-options ul {
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-options ul li a {
    font-size: 12px;
  }
  .navbar-left img {
    width: 56px;
  }
  .hamburger {
    display: block;
  }
  .hamberger-close {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    top: 20px;
  }
  .navbar-btn-first {
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 12px;
  }

  .navbar-btn-second {
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 100px;
  }
}


/* Home page styling */

.home-banner-main-heading {
    font-family: Space Grotesk;
    font-size: 90px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #FFFF;
    margin-bottom: 20px;
  
  }
  
  .home-banner-main-heading span {
    font-family: Space Grotesk;
    font-size: 90px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFDD2D;
  }
  
  .home-banner-main-para {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    width: 50%;
    color: #EEEEEE;
    margin-bottom: 40px;
  }
  
  .home-banner-inner {
    padding: 122px 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/Images/Group.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-color: #121212;

  }
  
  .home-banner-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Space Grotesk !important;
  
  }
  
  .home-banner-buttons button span {
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }
  
  .home-banner-inner img.homepage-banner-image {
    position: absolute;
    top: 75px;
    right: 110px;
  }
  
  .home-partners-outer {
    background-color: #ffdd2d;
  }
  
  .home-partners {
    padding: 45px 110px;
  }
  
  .home-partners-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .home-partners-inner img {
    flex: 1 1 193px;
    max-width: 193px;
  }
  
  .why-choose-us-container {
    padding: 60px 110px;
    background: #121212;
    
  }
  
  .why-choose-us-inner {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  
  .why-choose-us-inner-content h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 7px;
  }
  
  .why-choose-us-inner-content h1 span {
    color: #ffdd2d;
  }
  
  .why-choose-us-inner-content p {
    color: #eeeeee;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    max-width: 600px;
  }
  
  .middle-cards-outer {
    background-color: #1c1c1c;
  }
  
  .middle-cards-inner {
    padding: 0 110px;
    padding-top: 130px;
  }
  
  .middle-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  
  .middle-card {
    background-color: #121212;
    padding: 40px 30px;
    padding-top: 70px;
    position: relative;
    margin-bottom: 90px;
  }
  
  .middle-card-icon {
    height: 113px;
    width: 113px;
    border-radius: 50%;
    background-color: #ffdd2d;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -65px;
    left: 20px;
  }
  
  .middle-card h1 {
    font-size: 20px;
    font-weight: 700;
    color: #ffdd2d;
    font-family: "Space Grotesk", sans-serif;
    margin-bottom: 10px;
  }
  
  .middle-card p {
    color: #eeeeee;
    font-size: 13px;
    line-height: 22px;
  }
  
  .statistics-inner {
    padding: 110px;
  }
  
  .home-page-slider {
    display: none;
  }
  
  .statistics-inner h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  
  .statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .statistic {
    border: 0.3px solid #ffdd2d;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
  }
  
  .statistic-top {
    margin-bottom: 35px;
  }
  
  .statistic-top h3 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }
  
  /* .statistic-top-right {
    height: 44px;
    width: 44px;
    background-color: #8b7400;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  .statistic span {
    font-size: 51px;
    font-weight: 800;
    color: #ffdd2d;
  }
  
  .faq-outer-container {
    background-color: #1c1c1c;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .faq-outer-container h1 {
    font-size: 43px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .faq-outer-container h1 span {
    color: #ffdd2d;
  }
  
  .faq-outer-container p {
    font-size: 17px;
    line-height: 26px;
    color: #eeeeee;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .faqs {
    padding: 20px;
    max-width: 735px;
    margin: 0 auto;
  }
  
  .faq {
    position: relative;
    border-radius: 4px;
  }
  
  .faq-head {
    font-size: 18px;
    font-weight: 500;
    color: #cccccc;
    padding: 25px;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .faq-description {
    font-size: 15px;
    font-weight: 400;
    color: #eeeeee;
    padding-top: 0;
    overflow: hidden;
    transition: max-height .7s;
  }
  
  .faq-description-inner {
    padding: 25px;
  }
  .faq-icon-container {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffdd2d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-inner {
    max-width: 778px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .search-inner h1 {
    font-family: Space Grotesk;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
  
  }
  
  .search-inner input {
    padding: 27px 20px;
    border-radius: 12px;
    width: 100%;
    font-family: "Space Grotesk", sans-serif;
    font-size: 17px;
    font-weight: 500;
  }
  
  .search-inner-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  @media (max-width: 430px) {
    .home-banner-inner {
      padding: 40px 20px;
      display: flex;
      gap: 5px;
      background-size: contain;
    }
  
    .home-banner-main-heading {
      font-size: 28px;
      text-align: center;
      font-family: Space Grotesk;
      font-size: 38px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 0px;
  
    }
  
    .home-banner-main-heading span {
      font-family: Space Grotesk;
      font-size: 38px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0em;
    }
  
    .home-banner-main-para {
      font-size: 12px;
      width: 100%;
      line-height: 16px;
      text-align: center;
      margin-bottom: 15px;
    }
  
    /* .home-banner-outer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .home-banner-inner img.homepage-banner-image {
      position: static;
      width: 243px;
      margin: 0 auto;
    } */
  
    .home-banner-buttons {
      justify-content: center;
      margin-top: 10px;
    }
  
    .home-banner-buttons button {
      padding: 10px 37px;
    }
  
    .home-banner-buttons button span {
      font-family: Space Grotesk;
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
  
    }
  
    .home-partners-inner {
      justify-content: center;
      gap: 40px;
    }
  
    .home-partners-inner img {
      max-width: 92px;
    }
  
    .home-partners {
      padding: 25px 20px;
    }
  
    .why-choose-us-container {
      padding: 60px 20px;
    }
  
    .why-choose-us-inner {
      flex-direction: column-reverse;
      gap: 20px;
    }
  
    .why-choose-us-inner-content h1 {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 7px;
      text-align: center;
    }
  
    .why-choose-us-inner-content h1 span {
      color: #ffdd2d;
    }
  
    .why-choose-us-inner-content p {
      color: #eeeeee;
      font-size: 12px;
      font-weight: 400;
      line-height: 19px;
      max-width: 325px;
      text-align: center;
    }
  
    .why-choose-us-inner img {
      max-width: 239px;
    }
  
    .middle-cards-inner {
      padding: 0 20px;
      padding-top: 130px;
    }
  
    .middle-cards {
      grid-template-columns: 1fr;
    }
  
    .middle-card {
      background-color: #121212;
      padding: 30px;
      padding-top: 50px;
      position: relative;
      margin-bottom: 40px;
    }
  
    .middle-card-icon {
      height: 60px;
      width: 60px;
      top: -30px;
      left: 20px;
    }
  
    .middle-card-icon img {
      width: 33px;
    }
  
    .middle-card h1 {
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  
    .middle-card p {
      font-size: 11px;
      line-height: 15px;
    }
  
    .middle-cards-inner {
      display: none;
    }
  
    .home-page-slider {
      display: block;
    }
  
    .statistics-inner {
      padding: 20px;
    }
  
    .statistics-inner h1 {
      font-size: 25px;
      margin-bottom: 20px;
    }
  
    .statistics {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  
    .statistic {
      border: 0.3px solid #ffdd2d;
      padding: 16px 30px;
    }
  
    .statistic-top {
      margin-bottom: 25px;
    }
  
    .statistic-top h3 {
      font-size: 10px;
    }
  
    .statistic-top-right {
      height: 25px;
      width: 25px;
      border-radius: 3px;
    }
  
    .statistic-top-right img {
      width: 15px;
    }
  
    .statistic span {
      font-size: 20px;
      text-align: center;
      display: block;
    }
  
    .faq-outer-container {
      padding: 30px 10px;
    }
  
  
    .faq-inner-container h1 {
      font-family: Space Grotesk;
      font-size: 25px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0em;
  
    }
  
    .faq-inner-container p {
      font-family: Inter;
      font-size: 13px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 0px;
    }
  
    .faq-head {
      font-family: Space Grotesk;
      font-size: 13px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.02em;
      text-align: left;
  
    }
  
    .faq-description {
      font-family: Inter;
      font-size: 11px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
    }
  
    .search-inner h1 {
      font-family: Space Grotesk;
      font-size: 18px;
      font-weight: 700;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
  
    }
  }


/* Footer Styling */

.footer {
  background: #1c1c1c;
  /* padding: 70px 100px 0px 100px; */
}

.footer-inner {
  padding: 70px 100px 10px 100px;
}

.footer-inner-top {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding-bottom: 28px;
}

.footer-left {
  padding: 29px 0;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-left-para {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #eeeeee;
}

.footer-social-icons {
  display: flex;
  gap: 25px;
  align-items: center;
  max-width: 165px;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  max-width: 876px;
  flex-wrap: wrap;
}

.footer-right-links {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.footer-right-wallet-earning-support {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-head-link {
  margin-bottom: 8px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 21.5px;
  color: #eeeeee;
  position: relative;
  display: flex;
  flex-direction: column;
}

.wallet-underline {
  height: 1px;
  background: #eeeeee;
  width: 52px;
}
.earning-underline {
  height: 1px;
  background: #eeeeee;
  width: 72px;
}
.support-underline {
  height: 1px;
  background: #eeeeee;
  width: 67px;
}

.footer-sub-link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #eeeeee;
}

.footer-right-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-right-contacts-top {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-email-input {
  display: flex;
  max-width: 197px;
  box-shadow: 0px 0.8347222805023193px 1.6694445610046387px 0px #00000014;
  background: #ffffff0f;
  padding: 8px 10px;
  gap: 5px;
  border-radius: 5px;
  position: relative;
}

.footer-email-input img {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.footer-email-input input {
  background: transparent;
  width: 100%;
  padding-right: 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #ffffffcc;
  border: none;
  outline: none;
}

.google-apple-stores {
  display: flex;
  gap: 10px;
}
.footer-inner-bottom {
  border-top: 0.5px solid #ffdd2d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-inner-bottom p {
  margin-top: 10px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #ffffff;
}

.res-footer {
  display: none;
}

@media (max-width: 431px) {
  .footer {
    display: none;
  }

  .res-footer {
    padding: 20px;
    background: #1c1c1c;
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  .res-footer-inner {
    display: flex;
    gap: 10px;
  }

  .footer-left {
    padding: 0px 0;
  }

  .footer-inner-bottom p {
    margin-top: 0px;
    font-size: 10px;
    line-height: 17px;
  }

  .footer-right-wallet-earning-support {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer-head-link {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  .wallet-underline {
    width: 30px;
  }
  .earning-underline {
    width: 42px;
  }
  .support-underline {
    width: 40px;
  }

  .footer-community {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    color: #eeeeee;
    margin-top: 8px;
  }

  .footer-social-icons {
    gap: 10px;
  }

  .res-footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .google-apple-stores {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
  }

  .footer-email-input {
    display: flex;
    width: 143px;
    box-shadow: 0px 0.8347222805023193px 1.6694445610046387px 0px #00000014;
    background: #ffffff0f;
    padding: 4.6px 6px;
    gap: 5px;
    border-radius: 5px;
    position: relative;
  }

  .footer-email-input img {
    position: absolute;
    right: 4px;
    bottom: 1px;
  }

  .footer-email-input input {
    font-family: "Inter";
    background: transparent;
    width: 100%;
    padding-right: 20px;
    font-size: 10px;
    line-height: 9.6px;
    color: #ffffffcc;
  }

  .footer-email-input input::placeholder {
    color: #ffffffcc;
  }

  .footer-inner-bottom {
    border-top: 0.5px solid #ffdd2d;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-inner-bottom p {
    margin-top: 8px;
    font-size: 9px;
    line-height: 9.6px;
  }
}
